* {
  margin: 0;
}

header {
  background-color: #131921;
  display: flex;
  flex-direction: row;
  align-items: center;

  justify-content: space-around;

  background-color: #131921;
  position: sticky;
}

.dataBox>img {
  width: 120px;
}

.dataBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #131921;
  padding: 8px;
  margin: 5px;
  border-radius: 5px;
}

.dataBox:hover {
  border-color: white;
  cursor: pointer;
}

.dataBoxText>p {
  font-size: 14px;
  font-weight: 500;
  color: lightgray;
}

.dataBoxText>h3 {
  font-size: 18px;
  font-weight: 700;
  color: white;
}

/* header>.MuiTextField-root header> {
  width: 20%;
  height: 40px;
  border-radius: 10px;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
} */


/* NAVBAR STYLING CODE */
nav {
  background-color: #232f3e;

  display: flex;
  flex-direction: row;
  align-items: center;
}

nav>p {
  color: white;
  font-size: 18px;
  border: 1px solid #232f3e;
  border-radius: 5px;
  padding: 6px;
  margin: 2px;
}

nav>p:hover {
  border-color: white;
  cursor: pointer;
}

/* One Product Styling */
.oneProduct {
  display: flex;
  flex-direction: column;
  margin: 10px;

  border: 1px solid lightgrey;
  border-radius: 5px;
  width: 240px;
  padding: 10px;
}

.oneProduct>p {
  font-size: 16px;
  color: orange;
  text-align: right;
}

.oneProduct>img {
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;

  width: 240px;
  height: 150px;
  object-fit: cover;
}

.oneProduct>h1 {
  font-size: 25px;
  font-weight: 800;
  color: orange;
  text-align: center;
}

.oneProduct>h3 {
  font-size: 14px;
  font-weight: 700;
  color: gray;
  margin-top: 10px;

  height: 65px;
  overflow: hidden;
}

.priceNRating {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.priceNRating>h2 {
  font-size: 30px;
  color: orange;
}

.priceNRating>h4 {
  font-size: 20px;
  color: orange;
}

.oneProduct>button {
  background-color: orange;
  color: white;
  font-size: 17px;
  border: none;
  padding: 8px;
  border-radius: 5px;
  margin: 10px;
}

.oneProduct>button:hover {
  background-color: orangered;
  cursor: pointer;
  transition: all 1000ms;
}

/* All Products */

.allProducts {
  display: grid;
  margin: auto;

  grid-template-columns: auto auto auto auto;
  width: 1130px;
}

@media (max-width: 1129px) {
  .allProducts {
    grid-template-columns: auto auto auto;
    width: 850px;
  }
}

@media (max-width: 845px) {
  .allProducts {
    grid-template-columns: auto auto;
    width: 564px;
  }
}

@media (max-width: 560px) {
  .allProducts {
    grid-template-columns: auto;
    width: 290px;
  }
}

.leftSidebar {
  width: 300px;
  background-color: white;
  height: 100vh;
  position: fixed;
  z-index: 1000;

  /* display: none; */
}

.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 10px;
}

.items {
  display: flex;
  flex-direction: column;
}

.items>h1 {
  font-size: 20px;
  margin-bottom: 10px;
  padding: 0 15px;
}

.oneItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px 15px;
}

.oneItem:hover {
  cursor: pointer;
  background-color: rgb(235, 233, 233);
}

.cartItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* border: 1px solid lightgrey; */
  padding: 10px;
}

.cartItem>img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 20px;

}

.cartItem>button,
.total>button {
  width: 180px;
  height: 40px;
  background-color: orange;

  color: white;

  border-radius: 5px;
  margin: 20px;
  font-size: 10px;
  transition: all 500ms;
}


.cartItem>button:hover,
.total>button:hover {
  background-color: orangered;
  cursor: pointer;

}

.cartPage {
  display: flex;
  flex-direction: row;

  width: 900px;
  /* border: 1px solid red; */
  margin: auto;
}

.total {
  display: flex;
  flex-direction: column;

  align-items: center;
  width: 250px;

  border: 1px solid lightgrey;
  border-radius: 5px;
  height: 100%;
  margin: 10px;
  padding: 20px
}






.cartData {
  width: 650px;
}

.cartMessage>h1 {
  font: 25px;
  margin: 20px;
}

.cartItemData>h1 {
  font-size: 23px;
  margin-bottom: 10px;
}

.cartItemData>h2 {
  font-size: 20px;
  font-weight: 600px;
  margin-bottom: 10px;
}

.cartItemData>p {
  font-size: 14px;
  font-weight: 500px;
  margin-bottom: 10px;
  width: 300px;
  height: 60px;
  overflow: hidden;

}